# ==========================================
# ENVIRONNEMENT DE PRODUCTION LUMINAVIEW
# ==========================================

# Variables MongoDB
MONGO_URI=mongodb://mongo:27017/luminaview_core

# Secret pour générer les tokens de connexion (À modifier absolument !)
JWT_SECRET=super_secret_pour_la_production_123!

# Limite d'upload des images
MAX_FILE_SIZE_MB=100

# ==========================================
# CONFIGURATION EMAILS (SMTP)
# ==========================================
SMTP_HOST=smtp.votre-fournisseur.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=votre_utilisateur_smtp
SMTP_PASS=votre_mot_de_passe_smtp
SMTP_FROM="LuminaView <contact@jac-photo.fr>"
ADMIN_EMAIL=adresse_mail

# ==========================================
# CONFIGURATION SSL / LETSENCRYPT
# ==========================================
LETSENCRYPT_EMAIL=adresse_mail
