{
    email jacnux@icloud.com
    on_demand_tls {
        ask http://caddy-ask/ask
    }
}

helioscope.fr, www.helioscope.fr, admin.helioscope.fr {
    reverse_proxy luminaview-manager-prod:80
}

portfolio.helioscope.fr {
    reverse_proxy luminaview-portfolio-prod:80
}

https:// {
    tls {
        on_demand
    }

    @blog {
        header_regexp Host ^.*-blog\.helioscope\.fr$
    }
    handle @blog {
        reverse_proxy luminaview-blog-prod:80
    }

    @portfolio {
        header_regexp Host ^.*-portfolio\.helioscope\.fr$
    }
    handle @portfolio {
        reverse_proxy luminaview-portfolio-prod:80
    }

    @carnet {
        header_regexp Host ^.*-carnet\.helioscope\.fr$
    }
    handle @carnet {
        reverse_proxy luminaview-chambrenoire-prod:80
    }
}
