.gmb-select-widget {
    position: relative;
}

.gmb-select-widget #audit-settings {
    z-index: 1;
    position: relative;
    width: 250px;
}

.gmb-select-widget .btn-options-white-label {
    position: absolute;
    z-index: 4;
    right: 5px;
    height: 30px;
    margin-top: 4px;
    line-height: 16px;
}

.gmb-select-widget .field-location {
    display: none;
}

.gmb-select-widget #location {
    width: 320px;
    height: 46px;

    border-radius: 4px !important;
    color: #565656 !important;
    border: 1px solid #E3E3E3 !important;
}

.form-group.field-location .help-block {
    display: none;
}

.form-group.field-location {
    margin-bottom: 0;
}

.normally-select-widgets {
    width: 100%;
}

.normally-select-widgets #location {
    width: 100%;
}

.normally-select-widgets .input-group {
    display: flex;
    height: 46px;
}

.normally-select-widgets .form-group.field-location {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.normally-select-widgets .autocomplete {
    position: static;
    width: calc(100% - 2px);
    margin-left: 1px;
}

.gmb-select-widget .listing-keyword-group .location,
.gmb-select-widget .btn-options {
    height: 46px;
}

.gmb-select-widget .input-website {
    border-radius: 4px !important;
}

#select-widget2.gmb-select-widget .loader {
    left: 50%;
}

.gmb-select-widget .process-spinner {
    margin-top: 20px;
}

.gmb-select-widget .process-spinner {
    position: absolute;
    width: 100%;
}

.gmb-select-widget .location.form-control:read-only {
    color: var(--bs-gray-500);
    background-color: var(--bs-gray-200);
    border: 1px solid var(--bs-gray-300) !important;
    cursor: not-allowed;
}

.gmb-select-widget .tabs-audit {
    margin-bottom: 20px;
}

#select-widget2.input-group-btn {
    margin-left: 90px;
}

#select-widget2 + #audit0 {
    background-color: #25b36f !important;
    border: 1px solid #25b36f !important;
    color: #ffffff !important;
    border-radius: 4px !important;
    margin-bottom: 10px;
    padding: 8px 12px;
    margin-right: 10px;
}

#select-widget2 + #audit0:hover {
    opacity: 0.8;
    transition: 0.3s all;
}

.search-clear-btn {
    padding-top: 2px !important;
}

.search-clear-btn[disabled="disabled"] {
    opacity: 0.65;
}

#select-widget2 .search-clear-btn{
    display: none !important;
}

.form-control.location{
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
}

.listing-name-country-selector-row .input-group-addon.search-clear-btn.search-listing:hover{
    opacity: 0.8;
    transition: 0.3s all;
}

.listing-country-row .select2-container--bootstrap5.select2-container--focus:not(.select2-container--disabled) .form-select:not(.form-select-solid):not(.form-select-transparent) {
    border-color: var(--bs-gray-300);
}

.listing-country-row .select2-container {
    height: 100%;
}

.listing-country-row .select2-container .select2-selection {
    height: 100%;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.listing-keyword-row .location {
    border-bottom-right-radius: .475rem !important;
    border-top-right-radius: .475rem !important;
}

#select-widget2 .listing-keyword-row .location {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.listing-search-modal-content {
    scrollbar-width: auto;
}

.business-list-selector {
    font-weight: 500;
}

.listing-search-modal-header {
    overflow-wrap: anywhere;
    word-break: break-word;
}

.listing-name-country-selector-row {
    display: flex;
    align-items: stretch;
}

.listing-name-country-selector-row .btn.btn-icon {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
}
